<div class="bg-light-gray pa3 nested-list-reset nested-copy-line-height nested-links">
  <h4 class="f5 b mb3">{{ i18n "tagCloudTitle" }}</h4>
  <div class="tagcloud-tags">
    {{ $tagDisplayLimit := .Site.Params.widgets.tagCloud.limit | default 10 }}
    {{ range first $tagDisplayLimit .Site.Taxonomies.tags.ByCount }}
        <a href="{{ .Page.RelPermalink }}" class="mb2 mr2 pv1 ph3 br-pill no-underline font-size-{{ .Count }}">
            {{ .Page.Title }}
        </a>
    {{ end }}
  </div>
</div>