article {
  div.alert {
    padding: 0.5rem 1.25rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
  }

  div.alert.info {
    font-size: 0.9rem;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
}

article {
  @media screen and (max-width: 768px) {

  }
}
