article {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table th {
    padding: 10px;
    text-align: left;
    border-bottom: solid 4px #778ca3;
    color: #778ca3;
    font-size: 0.9em;
  }

  table td {
    padding: 10px;
    border-bottom: solid 1px #778ca3;
    font-size: 0.8em;
  }

  table {
    display: block;
    overflow-x: scroll;
    // white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

article {
  @media screen and (max-width: 768px) {

  }
}
