{{ $category := index .Params.categories 0 }}
{{ $category_posts := index .Site.Taxonomies.categories (lower $category) | first 4 }}
{{ with $category_posts }}

<section class="cf w-100 bg-light-gray">
  <div class="pa4 pv1">
    <h4 class="f3 b mb1">
      {{ i18n "categoryPosts" }} -
      <a href="/categories/{{ $category | urlize | lower }}" class="link underline black">{{ $category }}</a>
    </h4>
  </div>

  {{ range . }}
  {{ partial "sub/post-with-title-and-image.html" . }}
  {{ end }}
</section>

{{ end }}