{{ $category := index .Params.categories 0 }}
{{ $category_posts := index .Site.Taxonomies.categories (lower $category) | first 4 }}
{{ with $category_posts }}

<section class="w-100 bg-light-gray">
  <div class="pa4 pv1">
    <h4 class="f3 b mb1">
      {{ i18n "categoryPosts" }} -
      <a href="/categories/{{ $category | urlize | lower }}" class="link underline black">{{ $category }}</a>
    </h4>
  </div>

  {{ range . }}
  {{ $featured_image := partial "func/GetFeaturedImage.html" . }}
  {{ if not $featured_image }}{{ $featured_image = "/images/default-eye.webp" }}{{ end }}
  <div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
    <div class="aspect-ratio aspect-ratio--16x9 mb2">
      <span style="background-image:url({{$featured_image}});"
        class="cover bg-center aspect-ratio--object"></span>
    </div>
    <a href="{{ .RelPermalink }}" class="f4 b link black ">
      {{- .Title -}}
    </a>
    {{ partial "sub/hatebu.html" . }}
    <p class="f6 lh-copy measure mid-gray">
      {{ .Summary }}
      {{ if .Truncated }}<span>... </span>{{ end }} </p>
  </div>
  {{ end }}

  <div class="cf"></div>
</section>

{{ end }}
