{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if not $featured_image }}{{ $featured_image = "/images/default-eye.webp" }}{{ end }}
<div class="fl w-50 w-25-l pa3 pa3-l pa4-l">
  <div class="aspect-ratio aspect-ratio--16x9 mb2">
    <span style="background-image:url({{$featured_image}});" class="cover bg-center aspect-ratio--object"></span>
  </div>
  <a href="{{ .RelPermalink }}" class="f6 f4-l db h3 h-auto-l b link black ">
    {{- .Title -}}
  </a>
  {{ partial "sub/hatebu.html" . }}
  <p class="dn db-l f6 lh-copy measure mid-gray">
    {{ .Summary }}
    {{ if .Truncated }}<span>... </span>{{ end }} </p>
</div>