article {
  .nested-copy-line-height p,
  .nested-copy-line-height ul,
  .nested-copy-line-height ol {
    line-height: 1.6;
  }

  h2 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
  }

  h2:before,
  h2:after {
    content: "";
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }

  h2:before {
    left: 0;
  }

  h2:after {
    right: 0;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  li {
    font-size: 1.1rem;
    margin: 0.25rem 0;
  }

  p > code,
  li > code {
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 0.9em;
    color: #137752;
    background-color: #eaeaea;
  }

  a {
    word-break: break-all;
  }

  strong {
    background: linear-gradient(transparent 75%, $article-emphasis 75%);
    font-weight: bold;
  }

  pre {
    border-radius: 0.25rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table th {
    padding: 10px;
    text-align: left;
    border-bottom: solid 4px #778ca3;
    color: #778ca3;
    font-size: 0.9em;
  }

  table td {
    padding: 10px;
    border-bottom: solid 1px #778ca3;
    font-size: 0.8em;
  }

  table {
    display: block;
    overflow-x: scroll;
    // white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  blockquote {
    border-left-style: solid;
    border-left-width: 1px;
    border-width: 0.25rem;
    border-color: #408bc9;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-left: 0;
    color: $quoted-color;
    background-color: $quoted-bg-color;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  }

  div.alert {
    padding: 0.5rem 1.25rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
  }

  div.alert.info {
    font-size: 0.9rem;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }

  .box {
    margin: 2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px $article-emphasis;
    border-radius: 3px 0 3px 0;
  }

  .box:before,
  .box:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 2px $article-emphasis;
    border-radius: 50%;
  }

  .box:after {
    top: -12px;
    left: -12px;
  }

  .box:before {
    bottom: -12px;
    right: -12px;
  }

  .box p {
    margin: 0;
    padding: 0;
  }

  .article-body {
    a[target=_blank] {
      margin-right: 0.5rem;
      padding-right: 1.2rem;
      background: url(/images/new-window.png) right center/0.9rem auto no-repeat;
    }

    > ol {
      counter-reset: number;
      list-style-type: none !important;
      padding: 0.3rem 1rem;
      border: solid 2px #ffb107;
      border-radius: 0.5rem;
    }
    > ol > li {
      border-bottom: dashed 1px orange;
      position: relative;
      padding: 0.5rem 0.5rem 0.5rem 2.5rem;
      line-height: 1.5em;
    }
    > ol > li li {
      padding-left: 1rem;
    }
    > ol > li:before {
      /* Give numbers */
      position: absolute;
      counter-increment: number;
      content: counter(number);

      /* Change the design of numbers */
      display: inline-block;
      background: #ffb107;
      color: white;
      font-size: 1rem;
      border-radius: 50%;
      left: 0;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;

      /* Set position */
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    > ol li:last-of-type {
      border-bottom: none; /* Remove the last underline */
    }

    img {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    }

    .youtube-wrapper {
      max-width: 800px;
    }

    .youtube{
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-bottom: 56.25%;
    }

    .youtube iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none; /*境界線の打ち消し*/
    }
  }
}

article {
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.4rem;
      position: relative;
      display: inline-block;
      padding: 0 20px;
      color: #000;
    }

    h2:before,
    h2:after {
      width: 15px;
    }

    .nested-copy-line-height p,
    .nested-copy-line-height ul,
    .nested-copy-line-height ol {
      line-height: 1.8;
    }

    .nested-copy-line-height blockquote > p {
      line-height: 1.4;
      font-size: 1rem;
    }
    blockquote {
      padding-left: 2rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      margin-left: 0;
      margin-right: 0.5rem;
    }
  }
}
