.blogcard {
  line-height: 1;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  word-wrap: break-word;
  margin: 1em 0;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.025);
  overflow: hidden;
}

.blogcard a {
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease;
}

.blogcard a:hover {
  opacity: 0.6;
}

.blogcard-thumbnail {
  float: left;
  padding: 0px;
  padding-right: 20px;
}

.blogcard-title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px 20px 10px;
  color: black;
}

.blogcard-extract,
.blogcard-host {
  font-size: 0.7em;
  line-height: 1.6;
  padding: 0 15px 10px 20px;
  color: black;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .blogcard {
    margin: 40px 0;
  }

  .blogcard-title {
    font-size: 0.9em;
    padding-bottom: 1em;
  }

  .blogcard-extract {
    display: none;
  }

  .blogcard-img {
    width: 100px;
    height: 100px;
  }
}
