.blogcard {
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px $box-default;
  background-color: #f9f9f9;

  .box-label {
    position: absolute;
    display: block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: $box-default;
    color: #ffffff;
  }

  img.blogcard-img {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  }

  p {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .blogcard {
    margin: 40px 0;
  }

  .blogcard-title {
    font-size: 0.9em;
    padding-bottom: 1em;
  }

  .blogcard-extract {
    display: none;
  }

  .blogcard-img {
    width: 100px;
    height: 100px;
  }
}