// $base-color: undefined;
// $main-color: undefined;
$accent-color: #74c69d;


$quoted-color:rgba(0, 0, 0, .5);
$quoted-bg-color: #f7f7f7;

$article-emphasis: #ffcb8a;

$box-default: gray;
$box-purple: #8d93c8;
$box-info: #82ca9c;
$box-info-title: #67a77e;
$box-warn: #ffa83e;
