{{/* If you want to use this shortcode, you need to set the API server endpoint in config.toml */}}
{{/* e.g. `ogpApiServer = "http://localhost:6060/getogp?"` */}}

{{ $url := ( .Get 0) }}
{{ if .Site.Params.ogpApiServer }}
  {{ $function := print .Site.Params.ogpApiServer (querify "url" $url )}}
  {{ $ogpjson := getJSON $function }} {{ $urlp := urls.Parse $url }}

  <div class="blogcard">
    <a href="{{ $ogpjson.url }}">
      <div class="blogcard_thumbnail">
        <img
          class="blogcard_img"
          src="{{ $ogpjson.image }}"
          alt="{{ $ogpjson.title }}"
          width="150"
          height="150"
        />
      </div>
      <div class="blogcard_content">
        <div class="blogcard_title">
          <strong> {{ $ogpjson.title | truncate 50}} </strong>
        </div>
        <div class="blogcard_extract">
          {{ $ogpjson.description | truncate 70}}
        </div>
      </div>
      <div class="blogcard_host">{{ $urlp.Host }}</div>
      <div class="clear"></div>
    </a>
  </div>
{{ else }}
  <a href="{{ $url }}">{{ $url }}</a>
{{ end }}